body {
	font-family:Times New Roman;
	background-color:Gray; 
}

header {
	width:80%; 
	background-color:PaleGoldenRod;
	margin-right:auto;
	margin-left:auto;
	padding:16px;
	line-height:1em;
	
}

section {
	
	border-style:solid;
	border-color:PaleGoldenRod;
	border-width:8px;
	padding:8px;
	margin-right:auto;
	margin-left:auto;
	background-color:White; 
	width:80%
	
	
}

ol{
	list-style-type:disc;
}

nav ul{
	list-style-type:square;
}

nav ul li{
	float:right;
}


footer {
	width:80%; 
	background-color:PaleGoldenRod;
	margin-right:auto;
	margin-left:auto;
	padding:16px;
	padding-bottom:25px;
}

